.aside {
  background-color: #f1f3f5;
  padding: 2.4rem;
  width: 60rem;

  &__list {
    list-style: none;
  }
  &__item {
    margin-bottom: 2.4rem;
  }
  &__img {
    width: 9.6rem;
    height: 9.6rem;
  }

  &__author {
    &__link {
      font-size: 1.6rem;
    }
    &__name {
      font-size: 1.4rem;
    }
  }
}
