.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.like-btn {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  background-color: #eee;
  transition: background-color 0.2s, box-shadow 0.2s;
  border: none;
  position: absolute;
  bottom: 2.4rem;
  right: 2.4rem;

  span {
    color: red;
    margin-right: 0.8rem;
    font-size: 1.8rem;
  }

  &:hover {
    background-color: #ccc;
    box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);
  }
}
