.nav {
  float: right;
  font-size: 2.4rem;
  margin-top: 1.8rem;

  &__list {
  }

  &__li {
    list-style: none;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.8rem;
    }
  }
  &__link {
  }
}
